# --- Data Manipulation ---
pandas==2.2.3
numpy==1.26.4

# --- Visualisasi ---
matplotlib==3.9.4
seaborn==0.13.2

# --- Machine Learning ---
scikit-learn==1.5.2
scikit-optimize==0.10.2
xgboost==2.1.4
lightgbm==4.5.0
imbalanced-learn==0.12.4
catboost==1.2.7

# --- Format Parquet ---
pyarrow==17.0.0

# --- Notebook Environment ---
jupyterlab==4.3.6
ipykernel==6.29.5